# Ignore Proteus temporary and backup files
*.ddb
*.exf
*.idx
*.smt
*.tmp
*.bak

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore general temporary or backup files
*.swp
*.~*
